<ion-content padding class=”loginPage” scroll=”false” >
  <img src="../../assets/icon.jpg">
  <h3 style="text-align: center;"><strong>Bem vindo</strong></h3>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="Email"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Senha:</ion-label>
      <ion-input type="password" ></ion-input>
    </ion-item>

  </ion-list>

  <ion-button fill="solid" expand="block" color="warning"><strong>Cadastrar</strong></ion-button>

</ion-content>