registry=https://nexus.almg.gov.br/repository/npm/

# Opcionalmente, o proxy pode ser configurado para que o NPM também funcione usando o repositório
# global. Para isso, descomente as linhas abaixo:
proxy=http://proxy.almg.gov.br:3128/
https-proxy=http://proxy.almg.gov.br:3128/
noproxy=almg.gov.br,almg.uucp,localhost,127.0.0.1