<ion-header class="ion-no-border" fill="clear">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="cabecalho">
    <img [src]='icon'>
    <ion-searchbar placeholder="buscar..." color="light"></ion-searchbar>
  </div>

  <div id="corpo">
    <ion-card fill="clear" >
      <ion-card-title class="ion-text-center">{{receita.nome}}{{snacks.nome}}{{bebidas.nome}}{{sobremesas.nome}}{{fitness.nome}}<ion-icon class="favorito" name="heart"></ion-icon></ion-card-title>

      
      <ion-card-content>
        <img [src]="receita.foto"[src]="snacks.foto"[src]="bebidas.foto"[src]="sobremesas.foto"[src]="fitness.foto">
      </ion-card-content>

      <ul>
        <h3>Ingredientes</h3>
        {{receita.ingredientes}}{{snacks.ingredientes}}{{bebidas.ingredientes}}{{sobremesas.ingredientes}}{{fitness.ingredientes}}
      </ul>

      <div id="forma">
        <h3>Modo de Preparo</h3>
        {{receita.descricao}}{{snacks.descricao}}{{bebidas.descricao}}{{sobremesas.descricao}}{{fitness.descricao}}
      </div>

    </ion-card>

  </div>

</ion-content>