<ion-header  class="ion-no-border" fill="clear">
  <ion-toolbar  color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class=”loginPage” scroll=”false” >

  <img [src]='icon' width="300px" >
 <h3 style="text-align: center;"><strong>Bem vindo</strong></h3>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha:</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button shape="round" fill="solid" expand="block" color="warning" [routerLink]="['/inicio']"><strong>Entrar</strong></ion-button>
  <p style="text-align: center;" color="dark" [routerLink]="['/esqueci-senha']" fill="clear"><strong>Esqueceu sua senha?</strong></p>
</ion-content>