<ion-content [fullscreen]="true">
  <img [src]='icon' width="300px" >
  <h3 style="text-align: center;"><strong>Bem vindo</strong></h3>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Digite seu e-mail:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Digite o codigo que enviamos para seu e-mail</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>


    <ion-button shape="round" fill="solid" expand="block" color="dark"><strong>Enviar código</strong></ion-button>
    <ion-button shape="round" fill="solid" expand="block" color="warning"><strong>Confirmar</strong></ion-button>
  
  </ion-list>
</ion-content>
