
ion-content {     
    --background: url('../../assets/pano.jpg') no-repeat center center / cover !important ; 

    ion-col{
        .ion-text-center{
            margin-top: 70%;
        }
    }
}

img {
    height: 30vh;
    width: auto;
    margin: auto;
    display: flex;
    margin-top: 20%;
    border-radius: 50%;
}