
ion-content {     
    --background: url('../../assets/restaurante.jpg') no-repeat center center / cover !important; 

}

img {
    height: 30vh;
    width: auto;
    margin: auto;
    display: flex;
    margin-top: 30%;
    border-radius: 50%;
}

.is{
    height: 5vh;
    width: 150px;
    margin: auto;
    display: flex;
    margin-top: 10%;
    border-radius: 50%;
    background-color: bisque;
}
.is2{
    height: 5vh;
    width: 150px;
    margin: auto;
    display: flex;
    margin-top: 2%;
    border-radius: 50%;
}