<ion-header  class="ion-no-border" fill="clear">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="cabecalho">
    <img [src]='icon'>
    <p style="text-align: center;"><strong>Qual a receita de hoje?</strong></p>
    <ion-searchbar placeholder="buscar..." color="light"></ion-searchbar>
  </div>
  <div id="corpo">
    <h3 style="text-align: center;"><strong>{{tipo.nome}}</strong></h3>
    
    <ion-row class="ion-justify-content-center" *ngIf="tipo.id==='1'">
      <ion-card color="secondary" class="ion-text-center" *ngFor="let refeicao of receita" [routerLink]="['/receitas', refeicao.id]" >
        <ion-card-content>
          <img [src]="refeicao.foto">
        </ion-card-content>

      <ion-card-subtitle><strong>{{refeicao.nome}}</strong></ion-card-subtitle>
      </ion-card>
      
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="tipo.id==='2'">
      <ion-card color="secondary" class="ion-text-center" *ngFor="let snacks of snacks" [routerLink]="['/receitas', snacks.id]"> 
        <ion-card-content>
          <img [src]="snacks.foto">
        </ion-card-content>

      <ion-card-subtitle><strong>{{snacks.nome}}</strong></ion-card-subtitle>
      </ion-card>
      
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="tipo.id==='3'">
      <ion-card color="secondary" class="ion-text-center" *ngFor="let bebidas of bebidas" [routerLink]="['/receitas', bebidas.id]"> 
        <ion-card-content>
          <img [src]="bebidas.foto">
        </ion-card-content>

      <ion-card-subtitle><strong>{{bebidas.nome}}</strong></ion-card-subtitle>
      </ion-card>
      
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="tipo.id==='4'">
      <ion-card color="secondary" class="ion-text-center" *ngFor="let sobremesas of sobremesas" [routerLink]="['/receitas', sobremesas.id]"> 
        <ion-card-content>
          <img [src]="sobremesas.foto">
        </ion-card-content>

      <ion-card-subtitle><strong>{{sobremesas.nome}}</strong></ion-card-subtitle>
      </ion-card>
      
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="tipo.id==='5'">
      <ion-card color="secondary" class="ion-text-center" *ngFor="let fitness of fitness" [routerLink]="['/receitas', fitness.id]"> 
        <ion-card-content>
          <img [src]="fitness.foto">
        </ion-card-content>

      <ion-card-subtitle><strong>{{fitness.nome}}</strong></ion-card-subtitle>
      </ion-card>

    </ion-row>
      
  </div>

</ion-content>