ion-content{
    --background: #f8dc8c no-repeat center center / cover !important ; 

    #cabecalho{
        img{
            height: 30vh;
            width: auto;
            margin: auto;
            display: flex;
            margin-top: 10%;
            border-radius: 50%;
        }
    }

    #corpo{
        ion-card{
            border-radius: 25%;
        }

        img{
            height: 70px;
            width: 90px;
            border-radius: 25%;
        }
    }
}

