<ion-header  class="ion-no-border" fill="clear">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="cabecalho">
    <img [src]='icon'>
    <p style="text-align: center;"><strong>Qual a receita de hoje?</strong></p>
    <ion-searchbar placeholder="buscar..." color="light"></ion-searchbar>
  </div>

  <div id="corpo">
    <ion-row class="ion-justify-content-center">
      <ion-card fill="clear"  class="ion-text-center">

        <ion-card-content [routerLink]="['/refeicao']">
          <img src="../../assets/icon/refeicao.jpg">
        </ion-card-content>
        
        <ion-card-subtitle><strong>Refeições</strong></ion-card-subtitle>
      </ion-card>
      
      <ion-card color="secondary" class="ion-text-center">
        <ion-card-content>
          <img src="../../assets/icon/snacks.png">
        </ion-card-content>

      <ion-card-subtitle><strong>Snacks</strong></ion-card-subtitle>
      </ion-card>
  
      <ion-card color="secondary" class="ion-text-center">
        <ion-card-content class="ion-text-center">
          <img src="../../assets/icon/bebidas.jpg">
        </ion-card-content>

        <ion-card-subtitle><strong>Bebidas</strong></ion-card-subtitle>

      </ion-card>
      
      <ion-card color="secondary" class="ion-text-center">
        <ion-card-content>
          <img src="../../assets/icon/sobremesas.jpg">
        </ion-card-content>

        <ion-card-subtitle><strong>Sobremesas</strong></ion-card-subtitle>
      </ion-card>
      
      <ion-card color="secondary" class="ion-text-center">
        <ion-card-content>
          <img src="../../assets/icon/fit.png">
        </ion-card-content>

        <ion-card-subtitle><strong>Fitness</strong></ion-card-subtitle>
      </ion-card>
      
    </ion-row>
      
  </div>

</ion-content>
