<ion-header  class="ion-no-border" fill="clear">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="cabecalho">
    <img [src]='icon'>
    <p style="text-align: center;"><strong>Qual a receita de hoje?</strong></p>
    <ion-searchbar placeholder="buscar..." color="light"></ion-searchbar>
  </div>

  <div id="corpo">
    <ion-row class="ion-justify-content-center">
      <ion-card fill="clear" *ngFor="let receita of tipodereceitas" class="ion-text-center" [routerLink]="['/tipodereceita', receita.id]">

        <ion-card-content >
          <img [src]='receita.foto'>
        </ion-card-content>
        
        <ion-card-subtitle><strong>{{ receita.nome }}</strong></ion-card-subtitle>
      </ion-card>
      
    </ion-row>
      
  </div>

</ion-content>
